# Git
.git
.github
.gitignore

.env
.env.*
!.env.example
.venv
.env.docker

# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# pytest
.pytest_cache/
.coverage
htmlcov/

# test
tests/
generated_images/


.DS_Store
.idea/
.vscode/